* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
}

.signIn {
  background-color: aquamarine;
  padding: 1%;
}
.createList {
  background-color: blanchedalmond;
  padding: 1%;
}
button:hover {
  cursor: pointer;
}
